main{
    width: 100%;
}

.works{
    width: 100%;
    max-width: 750px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    padding-bottom: 50px;

    &__article{
        width: 300px;
        height: 400px;
        margin: auto;
        margin-bottom: 24px;
        background-color: rgb(236, 236, 236);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 17px -5px #777777;
        transition: all .2s;

        &:hover{
            width: 310px;
            height: 410px;
        }
    }

    &__link{
        text-decoration: none;
        color: rgb(15, 15, 15);
    }

    &__image{
        width: 100%;
    }
}

//モバイルサイズ　レイアウト
@media screen and (max-width: 480px){
    .works{
        width: 100%;
        max-width: 750px;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
    
        &__article{
            width: 280px;
            height: 400px;
            margin: auto;
            margin-bottom: 24px;
            background-color: rgb(236, 236, 236);
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 17px -5px #777777;
            transition: all .2s;
    
            &:hover{
                width: 310px;
                height: 410px;
            }
        }
    
        &__link{
            text-decoration: none;
            color: rgb(15, 15, 15);
        }
    
        &__image{
            width: 100%;
        }
    }
}